{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="hero-image-home jumbotron-overlay jumbotron-fluid py-md-5 d-flex align-items-center">
  <div class="container d-flex justify-content-center">
    <div class="hero-text text-center text-wrap py-3 mt-3">
      <h1>Prebuilt PC's just for you.</h1>
      <a href="{% url 'products' %}" class="hero-text-button btn btn-warning btn-lg text-uppercase py-3">Shop Now</a>
    </div>
  </div>
</div>

<div class="container align-items-center text-center py-3">
  <h2 class="section-heading">VIEW RANGE OF BUILDS</h2>
  <hr>
</div>

<section class="py-1">
  <div class="container align-items-center justify-content-center">
    <div class="row">
      <div class="col-md-4 py-4">
        <div class="card card-home h-100">
          <img class="w-100 h-auto" src="/media/LowEndPC4.webp" alt="Like Heart">
          <div class="card-body text-center">
            <h3 class="card-title fw-bold text-center text-uppercase">Entry Level</h3>
            <p class="card-text text"></p>
            <a href="{% url 'products' %}?category=low-end" class="btn btn-warning text-uppercase py-2">Shop Now</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 py-4">
        <div class="card card-home h-100">
          <img class="w-100 h-auto" src="/media/MidEndPC2.webp" alt="Community">
          <div class="card-body text-center">
            <h3 class="card-title fw-bold text-center text-uppercase">Mid Level</h3>
            <p class="card-text"></p>
            <a href="{% url 'products' %}?category=mid-end" class="btn btn-warning text-uppercase py-2">Shop Now</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 py-4">
        <div class="card card-home h-100">
          <img class="w-100 h-auto" src="/media/HighEndPC6.webp" alt="Community">
          <div class="card-body text-center">
            <h3 class="card-title fw-bold text-center text-uppercase">High Level</h3>
            <p class="card-text"></p>
            <a href="{% url 'products' %}?category=high-end" class="btn btn-warning text-uppercase py-2">Shop Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
