{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="hero-image-home jumbotron-overlay jumbotron-fluid py-md-5 d-flex align-items-center">
  <div class="container d-flex justify-content-center">
    <div class="hero-text text-center text-wrap py-3 mt-3">
      <h1>Prebuilt PC's just for you.</h1>
      <button>Shop Now</button>
    </div>
  </div>
</div>

<section class="py-3" style="margin-top: 70px;">
  <div class="container align-items-center justify-content-center">
    <div class="row">
      <div class="col-md-4 py-4">
        <div class="card card-home h-100">
          <img class="card-img-index card-image" src="/media/HP_Omen_45_header.jpg" alt="Like Heart">
          <div class="card-body text-center">
            <h3 class="card-title fw-bold text-center text-uppercase">Entry Tier</h3>
              <p class="card-text text"></p>
              <button>Show More</button>
          </div>
        </div>
      </div>
      <div class="col-md-4 py-4">
        <div class="card card-home h-100">
          <img class="card-img-index card-image" src="/media/HP_Omen_45_header.jpg" alt="Community">
          <div class="card-body text-center">
            <h3 class="card-title fw-bold text-center text-uppercase">Mid Tier</h3>
            <p class="card-text"></p>
            <button>Show More</button>
          </div>
        </div>
      </div>
      <div class="col-md-4 py-4">
        <div class="card card-home h-100">
          
          <img class="card-img-index card-image" src="/media/HP_Omen_45_header.jpg" alt="Community">
          <div class="card-body text-center">
            <h3 class="card-title fw-bold text-center text-uppercase">High Tier</h3>
            <p class="card-text"></p>
            <button>Show More</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
