{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profile/css/profile.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="py-3 text-center">
            <h2>Profile Manager</h2>
            <hr>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card shadow">
                    <div class="card-body">
                        <h5 class="card-title rounded-0 text-center">Profile Details</h5>
                        <hr>
                        <div>
                            <p class="text-center">You are logged in as: {{userprofile.user.username}}</p>
                        </div>
                        <hr>
                        <div class="profile-details">
                            <p><strong>Username:</strong> {{ userprofile.user.username }}</p>
                            <p><strong>Email:</strong> {{ userprofile.user.email }}</p>
                        </div>
                        <hr>
                        <h5 class="card-title text-center mt-4">Default Delivery Information</h5>
                        <hr>
                        <div class="delivery-info">
                            <form class="mt-3" action="{% url 'profile' %}" method="POST" id="profile-update-form">
                                {% csrf_token %}
                                {{ form|crispy }}
                                <hr>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary rounded-0">
                                        <span class="font-weight-bold">Update Profile</span>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card shadow">
                    <div class="card-body">
                        <h5 class="card-title rounded-0 text-center">Order History</h5>
                        <hr>
                        <div>
                            {% for order in userprofile.user.orders.all %}
                            <div class="order">
                                <p><strong>Order Number:</strong> {{ order.order_number }}</p>
                                <p><strong>Date:</strong> {{ order.date }}</p>
                                <!-- Add other information about the order as needed -->
                            </div>
                            <hr>
                            {% empty %}
                                <p>You have no past orders.</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

