{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="py-3 text-center">
            <h2>Checkout</h2>
            <hr>
        </div>
        <div class="row">
            <div class="col-md-6 order-md-2 mb-4">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-muted">Order Summary ({{ product_count }})</span>
                    <span class="badge badge-secondary badge-pill">{{ product_count }}</span>
                </h4>
                <ul class="rounded-0 list-group py-4 mb-3">
                    {% for item in bag_items %}
                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                            <div>
                                <div class="media">
                                    <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" class="mr-3 order-summary-img">
                                    <div class="media-body">
                                        <h6 class="my-0"><strong>{{ item.product.name }}</strong></h6>
                                        <p class="my-0 small text-muted">SKU: {{ item.product.sku|upper }}</p>
                                        <p class="my-0 text-muted">Qty: {{ item.quantity }}</p>
                                    </div>
                                </div>
                            </div>
                            <span class="text-muted">€{{ item.product.price }}</span>
                        </li>
                    {% endfor %}
                    <li class="list-group-item d-flex justify-content-between">
                        <span>Total (EUR)</span>
                        <strong>€{{ grand_total|floatformat:2 }}</strong>
                    </li>
                </ul>
            </div>       
            <div class="col-12 col-lg-6 border-right rounded-0">
                <form action="{% url 'checkout' %}" method="POST" id="payment-form">
                    {% csrf_token %}
                    <fieldset class="rounded-0 px-3 mb-5">
                        <legend class="fieldset-label text-black w-auto">Details</legend>
                        <div class="mb-3">
                            <label for="fullName">Full name</label>
                            <input type="text" class="form-control rounded-0" id="full_Name" name="full_name" placeholder="" value="" required>
                            <div class="invalid-feedback">Valid full name is required.</div>
                        </div>
                        <div class="mb-3">
                            <label for="email">Email</label>
                            <input type="email" class="form-control rounded-0" id="email" name="email" placeholder="">
                            <div class="invalid-feedback">Please enter a valid email address for shipping updates.</div>
                        </div>
                    </fieldset>
                    
                    <fieldset class="rounded-0 px-3 mb-5">
                        <legend class="fieldset-label small text-black px-2 w-auto">Delivery</legend>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="phone">Phone number</label>
                                <input type="tel" class="form-control rounded-0" id="phone" name="phone_number" placeholder="" required>
                                <div class="invalid-feedback">Phone number is required.</div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="country">Country</label>
                                <input type="text" class="form-control rounded-0" id="country" name="country" placeholder="" required>
                                <div class="invalid-feedback">Country is required.</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="postcode">Postal code</label>
                                <input type="text" class="form-control rounded-0" id="postcode" name="post_code" placeholder="" required>
                                <div class="invalid-feedback">Postal code is required.</div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="city">Town or City</label>
                                <input type="text" class="form-control rounded-0" id="city" name="town_or_city" placeholder="" required>
                                <div class="invalid-feedback">Town or City is required.</div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="address1">Address line 1</label>
                            <input type="text" class="form-control rounded-0" id="address1" name="address_line1" placeholder="" required>
                            <div class="invalid-feedback">Address is required.</div>
                        </div>
                        <div class="mb-3">
                            <label for="address2">Address line 2</label>
                            <input type="text" class="form-control rounded-0" id="address2" name="address_line2" placeholder="">
                        </div>
                        <div class="mb-3">
                            <label for="county">County</label>
                            <input type="text" class="form-control rounded-0" id="county" name="county" placeholder="" required>
                            <div class="invalid-feedback">County is required.</div>
                        </div>
                        <div class="form-check form-check-inline float-right mr-0">
                            {% if user.is_authenticated %}
                                <input class="form-check-input ml-2 mr-0" type="checkbox" id="save-info" name="save-info" checked>
                                <label class="form-check-label" for="save-info">Save this delivery information to my profile</label>
                            {% else %}
                                <label class="form-check-label" for="save-info">
                                    <a class="text-info" href="{% url 'account_signup' %}">Create an account</a> or
                                    <a class="text-info" href="{% url 'account_login' %}">login</a> to save this information
                                </label>
                            {% endif %}
                        </div>
                    </fieldset>
                    <fieldset class="px-3">
                        <legend class="fieldset-label small text-black px-2 w-auto">Payment</legend>
                        <!-- A Stripe card element will go here -->
                        <div class="mb-3" id="card-element"></div>
                        <!-- Used to display form errors -->
                        <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                    </fieldset>
    
                    <div class="submit-button text-right mt-5 mb-2">
                        <a href="{% url 'view_bag' %}" class="btn btn-outline-dark rounded-0">
                            <span class="icon">
                                <i class="fas fa-chevron-left"></i>
                            </span>
                            <span class="font-weight-bold">Adjust Bag</span>
                        </a>
                        <button id="submit-button" class="btn btn-primary rounded-0">
                            <span class="font-weight-bold">Complete Order</span>
                            <span class="icon">
                                <i class="fas fa-lock"></i>
                            </span>
                        </button>
                        <p class="small text-danger mt-1">
                            <span class="icon">
                                <i class="fas fa-exclamation-circle"></i>
                            </span>
                            <span>Your card will be charged <strong>€{{ grand_total|floatformat:2 }}</strong></span>
                        </p>
                    </div>
                </form>
            </div>
        </div>
        <hr>
    </div>
    <div id="loading-overlay">
        <div class="text-light logo-font loading-spinner">
            <span class="icon">
                <i class="fas fa-3x fa-sync-alt fa-spin"></i>
            </span>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}