<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu rounded-0 border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=desc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-black mr-5" href="#" id="computers-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Computers
            </a>
            <div class="dropdown-menu rounded-0 border-0" aria-labelledby="computers-link">
                <a href="{% url 'products' %}?category=low-end" class="dropdown-item">Budget</a>
                <a href="{% url 'products' %}?category=mid-end" class="dropdown-item">Mid Level</a>
                <a href="{% url 'products' %}?category=high-end" class="dropdown-item">High End</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link mr-5" href="{% url 'contact' %}" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Contact Us
            </a>
        </li>
    </ul>
</div>