
<!-- MOBILE HEADER FOR SMALLER SCREENS THE NAVBAR TRANSFORMS -->

<div class="mobile-top-header">
    <ul class="list-inline m-0">
        <li class="list-inline-item">
            <a class="nav-link d-block d-lg-none" href="#" id="mobile-search" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-lg"></i>
                <span class="my-0 d-none d-md-inline">Search</span>
            </a>
            <div class="dropdown-menu border-0 w-100 p-3 rounded-0 my-0" aria-labelledby="mobile-search">
                <form class="form" method="GET" action="{% url 'products' %}">
                    <div class="input-group">
                        <input class="form-control border border-black rounded-0" name="q" placeholder="Search our site" aria-label="Search Input Box">
                            <div class="input-group-append">
                                <button class="form-control btn btn-black border border-black rounded-0" type="submit" aria-label="Search Box Button">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </li>
            <li class="list-inline-item dropdown">
                <a class="text-black nav-link d-block d-lg-none" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user fa-lg"></i>
                    <span class="my-0 d-none d-md-inline">My Account</span>
                </a>
                <div class="dropdown-menu border-0">
                    {% if request.user.is_authenticated %}
                        {% if request.user.is_superuser %}
                            <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
                        {% endif %}
                        <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                        <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                    {% else %}
                        <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                        <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                    {% endif %}
                </div>
            </li>
            <li class="list-inline-item">
                <a class="{% if grand_total %}font-weight-bold{% else %}text-black{% endif %} nav-link d-block d-lg-none" href="{% url 'view_bag' %}">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <span class="my-0">
                        {% if grand_total %}
                            €{{ grand_total|floatformat:2 }}
                        {% else %}
                            €0.00
                        {% endif %}
                    </span>
                </a>
            </li>
        </ul>
    </div>

  <!-- MOBILE HEADER FOR SMALLER SCREENS THE NAVBAR TRANSFORMS -->
