{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block extra_css %}
    <link rel="stylesheet" href="">
{% endblock %}

{% block content %}
    <div class="container product-forms">
        <div class="py-3 text-center">
            <h2>Contact Us</h2>
            <hr>
        </div>
        <div class="card shadow">
            <div class="card-body">
                <form method="POST" action="#" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="text-center">
                        <a class="btn btn-outline-dark rounded-0" href="#">Cancel</a>
                        <button class="btn btn-primary rounded-0" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
