{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block extra_title %} -- Success{% endblock %}

{% block extra_css %}
{% endblock %}

{% block content %}
    <div class="container product-forms">
        <div class="py-3 text-center">
            <h2>Contact Us</h2>
            <hr>
        </div>
        <div class="card shadow">
            <div class="card-body">
                <div class="text-center">
                    <h4 class="card-title">Thank you for your enquiry!</h4>
                    <p class="card-text">We have received your message and will be in contact with you shortly.</p>
                    <a href="{% url 'home' %}" class="hero-text-button btn btn-primary btn-lg text-uppercase py-3">Back to Home</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}