{% extends "base.html" %}
{% load static %}

{% block extra_title %} -- Add Product{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="">
{% endblock %}

{% block content %}
    <div class="container product-forms">
        <div class="py-3 text-center">
            <h2>Product Management</h2>
            <hr>
        </div>
        <div class="card shadow">
            <div class="card-body">
                <form method="POST" action="{% url 'add_product' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            {{ form.category|as_crispy_field }}
                            {{ form.sku|as_crispy_field }}
                            {{ form.name|as_crispy_field }}
                            {{ form.processor|as_crispy_field }}
                            {{ form.graphics_card|as_crispy_field }}
                        </div>
                        <div class="col-md-6">
                            {{ form.ram|as_crispy_field }}
                            {{ form.storage|as_crispy_field }}
                            {{ form.price|as_crispy_field }}
                            {{ form.rating|as_crispy_field }}
                            {{ form.image_url|as_crispy_field }}
                            {{ form.image }}
                        </div>
                    </div>
                    <div class="text-right">
                        <a class="btn btn-outline-dark rounded-0" href="{% url 'products' %}">Cancel</a>
                        <button class="btn btn-primary rounded-0" type="submit">Add Product</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        $('#new-image').change(function() {
            var file = $('#new-image')[0].files[0];
            $('#filename').text(`Image will be set to: ${file.name}`);
        });
    </script>
{% endblock %}