{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="py-3 text-center">
            <h2>Product Management</h2>
            <hr>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card shadow">
                    <div class="card-body">
                        <form method="POST" action="{% url 'add_product' %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <button type="submit" class="btn btn-primary rounded-0">Add Product</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center align-items-center text-center">
            <div class="col-12 col-lg-7">
                <a href="" class="btn btn-black rounded-0 my-2">
                    <span class="icon mr-2">
                        <i class="fas fa-angle-left"></i>
                    </span>
                    <span class="btn btn-outline-dark text-uppercase">Back to Product Management</span>
                </a>
            </div>
        </div>
    </div>
{% endblock %}