{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container align-items-center text-center py-1">
        {% if current_categories %}
            {% for category in current_categories %}
                <h2 class="section-heading">{{ category.friendly_name }}</h2>
            {% endfor %}
        {% else %}
            <h2 class="section-heading">Products</h2>
        {% endif %}
        <hr class="products-line-break"></div>
        <section class="py-3">
            <div class="container">
                <div class="product-container col-12">
                    <div class="row mt-1 mb-2">
                        <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
                            <div class="sort-select-wrapper w-50">
                                <select id="sort-selector" class="custom-select rounded-0 custom-select-sm border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                                    <option value="reset" {% if current_sorting == 'None_None' %} selected {% endif %}>Sort by...</option>
                                    <option value="price_asc" {% if current_sorting == 'price_asc' %} selected {% endif %}>Price (low to high)</option>
                                    <option value="price_desc" {% if current_sorting == 'price_desc' %} selected {% endif %}>Price (high to low)</option>
                                    <option value="rating_asc" {% if current_sorting == 'rating_asc' %} selected {% endif %}>Rating (low to high)</option>
                                    <option value="rating_desc" {% if current_sorting == 'rating_desc' %} selected {% endif %}>Rating (high to low)</option>
                                    <option value="name_asc" {% if current_sorting == 'name_asc' %} selected {% endif %}>Name (A-Z)</option>
                                    <option value="name_desc" {% if current_sorting == 'name_desc' %} selected {% endif %}>Name (Z-A)</option>
                                    <option value="category_asc" {% if current_sorting == 'category_asc' %} selected {% endif %}>Category (A-Z)</option>
                                    <option value="category_desc" {% if current_sorting == 'category_desc' %} selected {% endif %}>Category(Z-A)</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 order-md-first">
                            <p class="text-muted mt-3 text-center text-md-left">
                                {% if search_term or current_categories or current_sorting != 'None_None' %}
                                    <span class="small">
                                        <a href="{% url 'products' %}">Products Home</a></span>
                                {% endif %}
                                |
                                {{ page_obj.paginator.count }}
                                Products
                                {% if search_term %}
                                    found for
                                    <strong>"{{ search_term }}"</strong>
                                {% endif %}
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        {% for product in page_obj.object_list %}
                            <div class="col-md-4 py-4">
                                <div class="card card-home h-100 rounded-0">
                                    {% if product.image %}
                                        <a href="{% url 'products_details' product.id %}">
                                            <img class="index-image" src="{{ product.image.url }}" alt="{{ product.name }}"></a>
                                        {% else %}
                                            <a href="{% url 'products_details' product.id %}">
                                                <img class="index-image" src="{{ MEDIA_URL }}noimage.webp" alt="{{ product.name }}"></a>
                                            {% endif %}
                                            <div class="card-body text-center">
                                                <h5 class="card-title fw-bold text-center text-uppercase">{{ product.name }}</h5>
                                                {% if product.category %}
                                                    <p class="small mt-1 mb-0">
                                                        <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                                                            <i class="fas fa-tag mr-1"></i>
                                                            {{ product.category.friendly_name }}
                                                        </a>
                                                    </p>
                                                {% endif %}
                                            </div>
                                            <div class="card-footer bg-white pt-0 border-0 text-right">
                                                <div class="row">
                                                    <div class="col">
                                                        <h4 class="mb-0 text-center font-weight-bold py-1">€{{ product.price }}</h4>
                                                        {% if product.rating %}
                                                            <small class="text-muted">
                                                                <i class="fas fa-star mr-1"></i>
                                                                {{ product.rating }}
                                                                / 5</small>
                                                        {% else %}
                                                            <small class="text-muted">No Rating</small>
                                                        {% endif %}
                                                        {% if request.user.is_superuser %}
                                                            <div class="text-left mt-2">
                                                                <a class="btn-sm btn-outline-primary rounded-0" href="{% url 'edit_product' product.id %}">
                                                                    Edit
                                                                </a>
                                                                |
                                                                <a class="btn-sm btn-outline-danger rounded-0" href="{% url 'delete_product' product.id %}">
                                                                    Delete
                                                                </a>
                                                            </div>
                                                        {% elif request.user.is_authenticated %}
                                                            <div class="text-right mt-2">
                                                                <a class="btn-sm btn-outline-primary rounded-0 wishlist-btn" href="{% url 'add_to_wishlist' product.id %}" data-product-id="{{ product.id }}" aria-label="Add to Wishlist Heart">
                                                                    <i class="fa-regular fa-heart heart-icon"></i>
                                                                </a>
                                                            </div>
                                                        {% else %}
                                                            <div class="text-right mt-2">
                                                                <a class="btn-sm rounded-0" href="{% url 'account_login' %}" aria-label="Add to Wishlist Heart">
                                                                    <i class="fa-regular fa-heart heart-icon"></i>
                                                                </a>
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </section>

                <div class="btt-button shadow-sm border border-black">
                    <a class="btt-link d-flex h-100" title="Back to Top Button">
                        <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
                    </a>
                </div>

                <nav class="py-4" aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        <!-- If there is a previous page -->
                        {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" rel="prev" title="Previous page" href="?page={{ page_obj.previous_page_number }}&sort={{ sort }}&direction={{ direction }}{% if current_categories_str %}&category={{ current_categories_str }}{% endif %}">
                                <i class="fa-solid fa-angle-left"></i>
                            </a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <a class="page-link">
                                <i class="fa-solid fa-angle-left"></i>
                            </a>
                        </li>
                        {% endif %}
                
                        <!-- Loop over the range of pages -->
                        {% for i in page_obj.paginator.page_range %}
                        <!-- If this is the current page -->
                        {% if page_obj.number == i %}
                        <li class="page-item active">
                            <a class="page-link" href="?page={{ i }}&sort={{ sort }}&direction={{ direction }}{% if current_categories_str %}&category={{ current_categories_str }}{% endif %}">{{ i }}</a>
                        </li>
                        {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ i }}&sort={{ sort }}&direction={{ direction }}{% if current_categories_str %}&category={{ current_categories_str }}{% endif %}">{{ i }}</a>
                        </li>
                        {% endif %}
                        {% endfor %}
                
                        <!-- If there is a next page -->
                        {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" rel="next" title="Next page" href="?page={{ page_obj.next_page_number }}&sort={{ sort }}&direction={{ direction }}{% if current_categories_str %}&category={{ current_categories_str }}{% endif %}">
                                <i class="fa-solid fa-angle-left fa-rotate-180"></i>
                            </a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <a class="page-link">
                                <i class="fa-solid fa-angle-left fa-rotate-180"></i>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
                

            {% endblock %}

            {% block postloadjs %}
                {{ block.super }}
                <script>
                    $('.btt-link').click(function (e) {
                        window.scrollTo(0, 0)
                    })
                </script>

                <script>
                    $('#sort-selector').change(function () {
                        var selector = $(this);
                        var currentUrl = new URL(window.location);

                        var selectedVal = selector.val();
                        if (selectedVal != "reset") {
                            var sort = selectedVal.split("_")[0];
                            var direction = selectedVal.split("_")[1];

                            currentUrl.searchParams.set("sort", sort);
                            currentUrl.searchParams.set("direction", direction);

                            window.location.replace(currentUrl);
                        } else {
                            currentUrl.searchParams.delete("sort");
                            currentUrl.searchParams.delete("direction");

                            window.location.replace(currentUrl);
                        }
                    })
                </script>
            {% endblock %}
